<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
</head>

<body>
    <div class="container-fluid justify-content-center flex-column d-flex">

        <h1>Name:</h1>
        <h3>@ViewBag.Name</h3>
        <h1>Location:</h1>
        <h3>@ViewBag.Language</h3>
        <h1>Location:</h1>
        <h3>@ViewBag.Location</h3>

    </div>
</body>

</html>